<!-- THIS WILL BE WRAPPED IN A <header> ELEMENT -->
<!-- THIS WILL BE CREATED ONCE TO RENDER THE HEADER SECTION -->
<div id="resetTodo">
    Reset
</div>
<div id="headerBar">
    <div class="inputBox">
        <input id="todoTextBox" type="text" placeholder="Add a thing to do"></input>
        <span id="buttonAdd" class="addButton" todoid="todo-1449835803720-7" position="3">+</span>
    </div>
    <div class="totalBox">
        <!-- <p class="totalText"></p> -->
        <div>
            Total
            <p id="totalTodo">
                0
            </p>
            <p>projects</p>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>